In [45]:
import pandas as pd
import numpy as np
from data_prepare import charas

In [49]:
from models.PCA import PCA

In [51]:
datashare_chara = pd.read_pickle('data/datashare_re.pkl')
portfolio_ret=  pd.read_pickle('data/portfolio_ret.pkl')
mon_ret = pd.read_pickle('data/month_ret.pkl')

In [58]:
def gen_nn_input(mon):
    beta_nn_input = datashare_chara.loc[datashare_chara['DATE'] == mon].drop_duplicates('permno').set_index('permno')[charas]
    labels = mon_ret.loc[mon_ret['date'] == mon].drop_duplicates('permno').set_index('permno')['ret-rf']
    align_df = pd.concat([beta_nn_input, labels], axis=1)
    factor_nn_input = portfolio_ret.loc[portfolio_ret['DATE'] == mon][charas].T.values
    
    return align_df.index, align_df.values[:, :-1].T, factor_nn_input, align_df.values[:, -1].T

In [12]:
(datashare_chara.loc[datashare_chara['DATE'] == 19580228].set_index('permno')[charas].T.values).shape

(94, 1071)

In [59]:
a, b, c, d = gen_nn_input(19671130)

In [55]:
b.shape

(94, 1071)

In [37]:
pd.concat([datashare_chara.loc[datashare_chara['DATE'] == 19580228].set_index('permno')[charas], , axis=1)

,absacc,acc,age,agr,bm,bm_ia,cashdebt,cashpr,cfp,cfp_ia,...,mom36m,mom6m,mvel1,pricedelay,retvol,std_dolvol,std_turn,turn,zerotrade,ret-rf
permno,,,,,,,,,,,,,,,,,,,,,
10006,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.104675,-0.490479,-0.957031,-0.128296,-0.556641,-0.058411,-0.699707,-0.352051,-1.000000,3.4198
10014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.898438,-0.276855,-0.998047,0.137939,-0.008179,0.243530,-0.866699,-0.764160,-0.684082,15.6695
10022,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.665039,0.372803,-0.992188,-0.102661,-0.673340,0.265137,-0.675781,-0.613281,-0.894531,-5.1200
10030,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.175293,-0.418701,-0.958496,-0.095398,-0.478760,0.245117,-0.745605,-0.585938,-1.000000,-4.1741
10057,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.011620,-0.279541,-0.983398,-0.128662,-0.491943,-0.073242,-0.804688,-0.712402,-0.368408,-2.5073
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28513,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.292480,-0.779297,-0.968750,-0.111450,-0.416504,-0.232910,-0.039307,0.598633,-1.000000,-4.9476
53023,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.525879,0.074158,-0.921387,-0.129395,-0.546875,-0.060791,-0.753906,-0.639648,-1.000000,-3.4313
58843,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.351318,0.113098,-0.990234,1.000000,-0.615234,-0.206665,-0.559570,-0.568848,-1.000000,5.5050
75471,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.596680,-0.319824,-0.998047,-0.141724,-0.467773,-0.112549,-0.746094,-0.710449,0.473633,-10.1200
86239,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.027115,-0.543945,-0.949219,-0.082214,-0.243164,-0.239868,-0.644043,-0.343994,-1.000000,-3.6914

permno
10006     3.4198
10014    15.6695
10022    -5.1200
10030    -4.1741
10057    -2.5073
          ...
28513    -4.9476
53023    -3.4313
58843     5.5050
75471   -10.1200
86239    -3.6914
Name: ret-rf, Length: 1071, dtype: float64

In [15]:
mon_list = pd.read_pickle('data/mon_list.pkl')

In [47]:
mon_list

0      19570329
1      19570430
2      19570531
3      19570628
4      19570731
         ...
713    20160831
714    20160930
715    20161031
716    20161130
717    20161230
Name: DATE, Length: 718, dtype: int64

In [16]:
beta_nn_input, factor_nn_input = gen_nn_input(mon_list[0])

In [50]:
beta_nn_input.shape # P * N

(94, 1058)

In [17]:
factor_nn_input.shape # P * 1

(94, 1)